.counter-box{
text-align: center;
font-size: 2rem
}

.counter-box button{
    font-size: 1.7rem;
    margin: 0 10px;
    background-color: white;
    border: 2px solid black;
    transition: all 0.3s ease;
}

.counter-box button:hover{
    transform: scale(1.1);
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 5px 10px black;
}